useDynLib(clgam, .registration = TRUE)
importFrom(Rcpp, evalCpp)
importFrom(MASS, ginv)
importFrom(stats, AIC, BIC, coef, cor, deviance, dpois, fitted, logLik, nobs, predict, residuals, runif, rpois)
importFrom(graphics, plot, points, abline, lines, par, rect, text, mtext, polygon, legend)
importFrom(grDevices, hcl.colors, adjustcolor, dev.interactive, devAskNewPage)
import(Matrix)
export(clgam, clgam_contrast, simulate_ata)
export(pois_SAP, pois_incat_SAP, pois_PCLM_latent)
export(mm_basis, bbasis, rten2, as_comp_C, sparse_P2D, clmm_mat)
S3method(print, clgam)
S3method(summary, clgam)
S3method(print, summary.clgam)
S3method(coef, clgam)
S3method(fitted, clgam)
S3method(residuals, clgam)
S3method(nobs, clgam)
S3method(deviance, clgam)
S3method(logLik, clgam)
S3method(AIC, clgam)
S3method(BIC, clgam)
S3method(predict, clgam)
S3method(plot, clgam)
